<!DOCTYPE html>
<html ng-app="ToDoList">
<head>
    <meta charset="UTF-8" />
    <title>To do list</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.7.1/angular-local-storage.min.js"></script>
    <script src="controller.js"></script>
</head>

<body ng-controller="ToDoController">
    <h1>To Do list</h1>
    <ul>
        <li ng-repeat="actividad in todo">
            {{actividad.descripcion}} - {{actividad.fecha | date:'short'}}
        </li>
    </ul>
    <form ng-submit="addActv()">
        <input type="text" ng-model="newActv.descripcion">
        <input type="datetime-local" ng-model="newActv.fecha">
        <button type="submit">Guardar actividad</button>
    </form>
    
    <button ng-click="clean()">Limpiar</button>
</body>
</html>